In [ ]:
def ficha1():
  nome = input("Nome: ")
  idade = input("Idade: ")
  altura = input("Altura: ")
  print(f'Olá, seu nome é {nome}, você tem {idade} anos e mede {altura} metros')

In [ ]:
ficha1()

Nome: Eric
Idade: 35
Altura: 1.77
Olá, seu nome é Eric, você tem 35 anos e mede 1.77 metros

In [ ]:
def calculadora():
  calculo = input("Digite sua opção de cálculo (1 - soma, 2 - subtração, 3 - multiplicação, 4 - divisão): ")
  num1 = int(input("Primeiro número: "))
  num2 = int(input("Segundo número: "))
  if calculo == '1':
    soma = num1 + num2
    print("A soma é: ",soma)
  elif calculo == '2':
    sub = num1 - num2
    print("A diferença é: ",sub)
  elif calculo == '3':
    mult = num1 * num2
    print("A multiplicação é: ",mult)
  elif calculo == '4':
    divs = num1 / num2
    print("A divisão é: ",divs)
  else:
    print("Número inválido")

In [ ]:
calculadora()

Digite sua opção de cálculo (1 - soma, 2 - subtração, 3 - multiplicação, 4 - divisão): 5
Primeiro número: 2
Segundo número: 2
Número inválido

In [ ]:
num1 = float(input('Digite um número: '))
num2 = float(input('Digite outro número: '))
if num1 > num2:
  print(num1)
elif num1 < num2:
  print(num2)
else:
  print('Os números são iguais')

Digite um número: 6
Digite outro número: 5
6.0

In [ ]:
alfabeto_vogal = ['a','e','i','o','u']
letra = input("Digite uma letra: ")
if letra in alfabeto_vogal:
  print("É vogal")
else:
  print("Não é vogal")

Digite uma letra: b
Não é vogal

In [ ]:
alfabeto_vogal

['a', 'e', 'i', 'o', 'u']

In [ ]:
vendas22 = float(input('Vendas em 2022: '))
vendas23 = float(input('Vendas em 2023: '))
calc = ((vendas23 - vendas22)/vendas22) * 100
if calc >= 20:
  print('Bonificação para o time de vendas')
elif 2 <= calc < 20:
  print('Pequena bonificação')
elif -10 <= calc < 2:
  print('Planejamento de políticas de incentivo às vendas')
else:
  print('Corte de gastos')

Vendas em 2022: 10
Vendas em 2023: 10
Planejamento de políticas de incentivo às vendas

In [ ]:
num1 = int(input('Digite um número: '))
num2 = int(input('Digite outro número: '))
for i in range(num1+1,num2):
  print(i)

Digite um número: 1
Digite outro número: 3
2

In [ ]:
num_tab = int(input('Digite um número para a tabuada: '))
print(f'Tabuada do {num_tab}')
for i in range (1,11):
  print(f'{num_tab} X {i} = {num_tab * i}')

Digite um número para a tabuada: 2
Tabuada do 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
dicionario = {'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

In [ ]:
lista_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
lista_gastos

[2172.54,
 3701.35,
 3518.09,
 3456.61,
 3249.38,
 2840.82,
 3891.45,
 3075.26,
 2317.64,
 3219.08]

In [ ]:
Media = sum(lista_gastos)/len(lista_gastos)
Media

3144.222

In [ ]:
lista_5 = list(input('Digite 5 números: '))
if len(lista_5) == 5:
 print(lista_5)
else:
 print('É pra digitar 5 números!')

Digite 5 números: 87kiu
['8', '7', 'k', 'i', 'u']

In [ ]:
def valida_data():
  data_dia = input('Informe um dia(dd): ')
  if len(data_dia) != 2:
    print('Insira um dia válido')
  else:
    data_mes = input('Informe um mês(mm): ')
    if len(data_mes) != 2:
      print('Insira um mês válido')
    else:
      data_ano = input('Informe um ano(aaaa): ')
      if len(data_ano) != 4:
        print("Insira um ano válido")
      else:
        print(f'{data_dia}/{data_mes}/{data_ano}')

In [ ]:
valida_data()

Informe um dia(dd): 12
Informe um mês(mm): 12
Informe um ano(aaaa): 2005
12/12/2005

In [ ]:
lista_bact = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
lista_cresc_bact = [lista_bact]

In [ ]:
lista_bact

[1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

In [ ]:
def prova():
  resp_1 = input('Questão 1: ')
  resp_2 = input('Questão 2: ')
  resp_3 = input('Questão 3: ')
  #resp_4 = input('Questão 4: ')
  #resp_5 = input('Questão 5: ')
  #resp_6 = input('Questão 6: ')
  #resp_7 = input('Questão 7: ')
  #resp_8 = input('Questão 8: ')
  #resp_9 = input('Questão 9: ')
  #resp_10 = input('Questão 10: ')
  contador = 0
  if resp_1 == 'D'
    contador += 1
  else:
    if resp_2 == 'A':
      contador += 1
  print(f'Sua nota é {contador}')

In [ ]:
prova()

Questão 1: D
Questão 2: A
Questão 3: s
Sua nota é 1